h1 {
    color:blueviolet;
    background-color:pink;
    text-align:center;
    padding:10px;
}

h3 {
    color:blueviolet;
    background-color:pink;
    text-align:center;
    padding:10px;
}

body {
    background-color: beige;
    padding:20px;
}

footer {
    color:gray;
    padding:10px;
    position:fixed;
    bottom:0;
    width: 100%;
    text-align: center;
}